Repository ivpn/ivpn.net, pull requests merged in 2023-10, with the labels that each got.

#695 Update privacy-policy.md
  src/content/pages/privacy-policy.md
Labels: type: content

#698 Protocol comparison page: update WireGuard features
  src/content/pages/pptp-vs-ipsec-ikev2-vs-openvpn-vs-wireguard.md
Labels: type: documentation

#705 Bugfix/replace change plan logic
  src/themes/ivpn-v3/assets/js/api/api.js
  src/themes/ivpn-v3/assets/js/store/module_product.js
  src/themes/ivpn-v3/assets/js/views/Account/Account.vue
  src/themes/ivpn-v3/assets/js/views/Account/ChangeProduct/ChangeProduct.vue
Labels: priority: high, type: bug

#703 Update app pages subtitle
  src/content/pages/apps-ios.md
  src/content/pages/apps-linux.md
  src/content/pages/apps-windows.md
Labels: type: content
