Repository ivpn/ivpn.net, pull requests merged in 2024-06, with the labels that each got.

#783 Android v2.10.8 release
  src/content/en/pages/apps-android.md
Labels: type: task

#789 Blog post
  src/content/en/blog/dns-traffic-leak-outside-vpn-tunnel-on-android.md
Labels: type: content

#792 Update apps pages
  src/content/en/pages/apps-android.md
  src/content/en/pages/apps-ios.md
  src/themes/ivpn-v3/assets/scss/components/content.scss
  src/themes/ivpn-v3/layouts/pages/apps.html
Labels: type: content

#793 Update ES apps page
  src/content/es/pages/apps-android.md
  src/content/es/pages/apps-ios.md
Labels: type: content

#795 KB EN: Add a printer, LAN access article
  src/content/en/pages/knowledgebase/troubleshooting/how-can-i-access-local-network-devices-like-printers-and-media-servers.md
Labels: priority: low, type: documentation
