Repository ivpn/ivpn.net, pull requests merged in 2024-05, with the labels that each got.

#773 Update apps-android.md
  src/content/pages/apps-android.md
Labels: type: content

#774 Update apps-ios.md
  src/content/pages/apps-ios.md
Labels: type: content

#776 Add KB article: how to verify checksum
  src/content/pages/knowledgebase/general/how-to-verify-a-file-checksum.md
Labels: type: documentation

#777 style: minor adjustment
  src/content/pages/knowledgebase/linux/linux-webpages-do-not-load-or-dns-leaks-when-connecting-via-networkmanager.md
Labels: type: content

#779 bugfix: Added meta description tag
  src/themes/ivpn-v3/layouts/partials/head.html
Labels: type: bug
